.pathBtnContainer {
  position: relative;
  display: flex;
}

.pathBtnWrapper {
  display: inline-flex;
  cursor: pointer;
}
.btn {
  background-color: #58cc02;
  height: 65px;
  position: relative;
  width: 70px;
  z-index: 0;
  background: none;
  border: none;
  padding: 0;
  display: inline-flex;
  position: relative;
}
.btn:active {
  transform: translateY(8px);
}
.btn::before {
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(var(--path-level-color), var(--path-level-color));
  height: 8px;
  top: 28.5px;
}
.btn::after {
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2), 0 8px 0 var(--path-level-color);
  background: var(--path-level-color);
  border-radius: 50%/50%;
  height: 57px;
  top: 0;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.btn:active::after {
  box-shadow: none;
}
.img {
  height: 34px;
  left: 14px;
  position: absolute;
  top: 11.5px;
  width: 42px;
}

._3rLLs {
  --path-level-color: var(--path-unit-background-color);
}
