.container {
  font-family: "DINROUNDPRO";
  margin: 0 auto;
  max-width: 1056px;
  padding-top: 32px;
  width: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 24px 24px;

  justify-content: center;
}

.pathWrapper {
  z-index: 0;
}

.path {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
  max-width: 630px;
}

.pathHeader {
  align-items: center;
  background: #58cc02;
  background-size: 100% 100%;
  border-radius: 13px;
  padding: 22px 16px;
  row-gap: 6px;
  overflow: hidden;
  column-gap: 16px;
  display: grid;
  grid-auto-columns: 1fr min-content;
  position: relative;
  color: #fff;
}

.pathH1 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.36;
  margin: 0;
}

.pathSpan {
  font-size: 19px;
  line-height: 1.4;
}

.pathContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  position: relative;
}

.pathBtnContainer {
  position: relative;
  display: flex;
}

.pathBtnWrapper {
  display: inline-flex;
  cursor: pointer;
}
.btn {
  background-color: #58cc02;
  height: 65px;
  position: relative;
  width: 70px;
  z-index: 0;
  background: none;
  border: none;
  padding: 0;
  display: inline-flex;
  position: relative;
}
.btn:active {
  transform: translateY(8px);
}
.btn::before {
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;

  height: 8px;
  top: 28.5px;
}
.btn::after {
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2), 0 8px 0 #58cc02;
  background: #58cc02;
  border-radius: 50%/50%;
  height: 57px;
  top: 0;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.btn:active::after {
  box-shadow: none;
}
.img {
  height: 34px;
  left: 14px;
  position: absolute;
  top: 11.5px;
  width: 42px;
}

.backgroundShine {
  left: 6px;
  position: absolute;
  top: 5px;
}
