.container {
  filter: brightness(1);
  left: 50%;
  position: absolute;
  z-index: 199;
  transform-origin: center var(--margin);
  cursor: default;
  bottom: -1px;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 295px;

  margin-top: var(--margin);
  box-sizing: border-box;
}
.content {
  font-size: 19px;
  font-weight: 700;
  line-height: 1.4;
  padding: 16px;
  text-align: center;
  background-color: var(--path-unit-background-color);
  border: 0;
  color: #fff;
  border-radius: 15px;
  overflow: hidden;
  transform: translateZ(0);
  text-align: left;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}
.title {
  line-height: 26.6px;
  margin-bottom: 0;
  font-size: 19px;
  font-weight: 700;
}

.paragraph {
  font-size: 17px;
  font-weight: 500;
  margin: 0 0 18px;
}
.btn {
  --__internal__lip-width: 4px;
  --__internal__border-radius: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--path-unit-background-color);
  margin-top: 16px;
  width: 100%;
  background: none;
  background-color: #fff;
  border-color: hsla(0, 0%, 100%, 0.8);
  border-bottom: var(--__internal__lip-width) solid transparent;
  border-radius: var(--__internal__border-radius);
  border-radius: 16px;
  border: 0 solid transparent;
  height: 50px;
  padding: 16px;
  transition: filter 0.2s;
  font-family: "DINROUNDPRO", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn:disabled {
  opacity: 0.5;
  color: #777;
  cursor: not-allowed;
}

.btn:disabled:hover {
  filter: none;
}

.pointerWrapper {
  margin: 0 15px;
  transform: translateX(-50%);
  top: -8px;
  height: 10px;
  overflow: hidden;
  width: 20px;
  box-sizing: border-box;
  position: absolute;
}

.pointer {
  background-color: var(--path-unit-background-color);
  border: 0;
  color: #fff;
  box-sizing: border-box;
  position: absolute;
  border-radius: 2px;
  content: "";
  height: 14.14427px;
  left: 50%;
  transform: translateZ(0) rotate(45deg);
  transform-origin: top left;
  width: 14.14427px;
}

.btn:hover {
  filter: brightness(1.1);
}

.finished {
  --path-unit-background-color: rgb(255, 200, 0);
}

.finishedTxt {
  font-size: 13px;
  text-decoration: underline;
}
