.container {
  font-family: "DINROUNDPRO";
  margin: 0 auto;
  max-width: 1056px;
  padding-top: 32px;
  width: 100%;
  transition: opacity 0.4s ease-in-out;
}
.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 24px 24px;

  justify-content: center;
}

.pathWrapper {
  z-index: 0;
}

.path {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
  max-width: 630px;
}

.pathHeader {
  align-items: center;
  background: var(--shine-background-color, var(--path-unit-background-color));
  background-size: 100% 100%;
  border-radius: 13px;
  padding: 22px 16px;
  row-gap: 6px;
  overflow: hidden;
  column-gap: 16px;
  display: grid;
  grid-auto-columns: 1fr min-content;
  position: relative;
  color: var(--path-unit-foreground-color);
}

.pathH1 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.36;
  margin: 0;
}

.pathSpan {
  font-size: 19px;
  line-height: 1.4;
}

.pathContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  position: relative;
}
