.alphabetContainer {
  padding-left: 256px;
  font-family: "DINROUNDPRO";
}
.wrapper {
  margin: 0 auto;
  max-width: 1056px;
  padding-top: 32px;
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .wrapper {
    max-width: 700px;
  }
}
@media screen and (max-width: 1000px) {
  .wrapper {
    max-width: 470px;
  }
}
@media screen and (max-width: 769px) {
  .alphabetContainer {
    padding-left: 102px;
  }
  .wrapper {
    max-width: 470px;
  }
}
