._2yBMs {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/a7018d3f4a89422f851e65a983ac94a8.svg)
    no-repeat;
  background-size: contain;
}

._3upVv {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/d9ea34d0880fea787af1809925b3eccb.svg)
    no-repeat;
  background-size: contain;
}

._2zNmn {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/1d686a7a7899edd7fa136bf7b0877522.svg)
    no-repeat;
  background-size: contain;
}

._2ik6a {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/0abffca6e47456e9ea486043a37df5a7.svg)
    no-repeat;
  background-size: contain;
}

._1dML2 {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/4d7a76420e8e4985b57f020df59009c8.svg)
    no-repeat;
  background-size: contain;
}

._3Nhfm {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/e94ffafed17f29a48960524693aaa839.svg)
    no-repeat;
  background-size: contain;
}

._1OiHp {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/4055e0dc10275f9597f53f9dca6df5e4.svg)
    no-repeat;
  background-size: contain;
}

._20zJn {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/c2b4bc98d8229b08fd45e85087868c24.svg)
    no-repeat;
  background-size: contain;
}

._1WucH {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/f82ec78dd3c15dea85ae4c6a8e028a37.svg)
    no-repeat;
  background-size: contain;
}

._1pkpX {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/04d9298940ed9ee06902f69dfca09717.svg)
    no-repeat;
  background-size: contain;
}

._34sTq {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/ad491d287c122a14be1c2aa56c6a118d.svg)
    no-repeat;
  background-size: contain;
}

.PEvQz {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/217492e7baf0961abdd2ddfb5881e7f9.svg)
    no-repeat;
  background-size: contain;
}

._2S2dm {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/070c837eec25d64e3182a8a31e65bdba.svg)
    no-repeat;
  background-size: contain;
}

._2N2OI {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/0fdb5c0766fc78be216ea9d84a51dd7d.svg)
    no-repeat;
  background-size: contain;
}

._3HCUY {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/91e9804d60cdd017a75642cca28becae.svg)
    no-repeat;
  background-size: contain;
}

._2SNGW {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/b0cb74a6e8beeb4e0f2399b331dfbe57.svg)
    no-repeat;
  background-size: contain;
}

._2mGoN {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/675cdcff3276bbfb3c2470e5252fd8a7.svg)
    no-repeat;
  background-size: contain;
}

.Sx8mZ {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/0088f1e1a1dccb3290421ceaa61b6a73.svg)
    no-repeat;
  background-size: contain;
}

._1X1Kv {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/39ac3b013faeeba3d0afb91f7230a43f.svg)
    no-repeat;
  background-size: contain;
}

.y6jP4 {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/ae79bee1167acd55eae0b7b66d29cf74.svg)
    no-repeat;
  background-size: contain;
}

.T0DDr {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/ee0cbd16489f7f7ee36b2fad15651514.svg)
    no-repeat;
  background-size: contain;
}

._3Fge_ {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/dc065b9f8f864e3e4e34c1720febc6b5.svg)
    no-repeat;
  background-size: contain;
}

._3c1H2 {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/e1f5c78bff11cfeb6b4d92e83f2c9580.svg)
    no-repeat;
  background-size: contain;
}

._22Ui- {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/ae770a6d385c64fa89d7d2404098f825.svg)
    no-repeat;
  background-size: contain;
}

.YwCyZ {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/2af886b39abed80fd7596090ef55ec1c.svg)
    no-repeat;
  background-size: contain;
}

.R74tF {
  background: url(https://d35aaqx5ub95lt.cloudfront.net/images/achievements/e10a45239da27868c3837701a09d22db.svg)
    no-repeat;
  background-size: contain;
}
._3_QUJ {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 124.5%;
  position: relative;
  width: 100%;
}

._13kYE {
  bottom: 10%;
  font-size: 11px;
}
._3SIlB {
  color: rgb(var(--color-snow));
  display: flex;
  font-weight: 700;
  position: absolute;
}
._3SIlB {
  color: rgb(var(--color-snow));
  display: flex;
  font-weight: 700;
  position: absolute;
}
