.profileImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileImgContainer div {
  position: relative;
}
.profileImgContainer div img {
  display: block;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  border-style: none;
  object-fit: cover;
}
