/* NAVBAR  */
.navbar {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  line-height: 20px;
  border-bottom: 2px solid #e5e5e5;
  background-color: #fff;
  font-family: "DINROUNDPRO";
}
.navbarContent {
  flex-direction: row;
  margin: 0 auto;
  max-width: 1328px;
  padding: 0 24px;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  position: relative;
}

/* LOGO */
.logo {
  align-self: center;
  display: flex;
  margin-left: 16px;
  margin-right: 900px;
}

/* COUNTRY LOGO */

.flagWrapper {
  height: 100%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.flagContainer {
  padding: 0 18px;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.flagContainer svg img {
  height: 3168px;
  width: 82px;
}

/* DAY STREAK SECTION */
.streakWrapper {
  height: 100%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.streakContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0 18px;
}

.streakContainer div {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.streakContainer div img {
  height: 30px;
  margin-right: 6px;
  width: 25px;
}
.streakText {
  color: #e5e5e5;
  font-weight: 700;
}

/* IMAGE DE PROFILE */

.profileImgWrapper {
  height: 100%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.profileImgContainer {
  padding: 0 18px;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.profileImgContainer div {
  position: relative;
}
.profileImgContainer div img {
  display: block;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  border-style: none;
}

@media screen and (max-width: 1400px) {
  .logo {
    margin-right: 500px;
  }
}
@media screen and (max-width: 1000px) {
  .logo {
    margin-right: 250px;
  }
}
