.home {
  font-family: "DINRoundPro", sans-serif;
  font-size: 900;
  font-weight: bold;
  height: 100vh;
  width: 100%;
  background-color: #235390;
}
.background {
  height: 100%;
  background: url("../../../assets/images/homeBackground.png");
}
.navbar {
  position: fixed;
  top: 0;
  background-color: #235390;
  height: 70px;
  width: 100%;
  display: flex;
}
.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 40px;
  width: 100%;
  height: 100%;
  max-width: 1065px;
}
.langTextContainer {
  font-size: 19px;
  color: #fff;
}
.homeContainer {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.homeContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px auto;
  text-align: center;
}

.mainTextContainer {
  margin: auto 48px;
  width: 60%;
}
.mainText {
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 50px;
}
.mainButtonContainer {
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}

.btnLogin {
  padding: 0 16px;
  --web-ui_button-color: rgb(var(--color-snow));
  --web-ui_button-background-color: rgb(var(--color-owl));
  --web-ui_button-border-color: rgb(var(--color-tree-frog));
}

@media screen and (max-width: 1024px) {
  .homeContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .mainImgContainer {
    margin-top: 20px;
  }
  .mainImgContainer img {
    width: 300px;
  }
}
