@import url("./font/stylesheet.css");

:root {
  font-family: "DINROUNDPRO";
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --viewport-height: 100dvh;
  --web-ui_button-border-radius: 16px;
  --color-snow: 255, 255, 255;
  --color-polar: 247, 247, 247;
  --color-swan: 229, 229, 229;
  --color-hare: 175, 175, 175;
  --color-wolf: 119, 119, 119;
  --color-eel: 75, 75, 75;
  --color-squid: 235, 227, 227;
  --color-walking-fish: 255, 223, 224;
  --color-flamingo: 255, 178, 178;
  --color-pig: 245, 164, 164;
  --color-crab: 255, 120, 120;
  --color-cardinal: 255, 75, 75;
  --color-fire-ant: 234, 43, 43;
  --color-canary: 255, 245, 211;
  --color-duck: 251, 229, 109;
  --color-bee: 255, 200, 0;
  --color-lion: 255, 177, 0;
  --color-fox: 255, 150, 0;
  --color-cheetah: 255, 206, 142;
  --color-monkey: 229, 162, 89;
  --color-camel: 231, 166, 1;
  --color-guinea-pig: 205, 121, 0;
  --color-grizzly: 187, 113, 73;
  --color-sea-sponge: 215, 255, 184;
  --color-turtle: 165, 237, 110;
  --color-owl: 88, 204, 2;
  --color-tree-frog: 88, 167, 0;
  --color-peacock: 0, 205, 156;
  --color-iguana: 221, 244, 255;
  --color-anchovy: 210, 228, 232;
  --color-beluga: 187, 242, 255;
  --color-moon-jelly: 122, 240, 242;
  --color-blue-jay: 132, 216, 255;
  --color-macaw: 28, 176, 246;
  --color-whale: 24, 153, 214;
  --color-humpback: 43, 112, 201;
  --color-narwhal: 20, 83, 163;
  --color-manta-ray: 4, 44, 96;
  --color-starfish: 255, 134, 208;
  --color-beetle: 206, 130, 255;
  --color-betta: 144, 105, 205;
  --color-butterfly: 111, 78, 161;
  --color-dragon: 204, 52, 141;
  --color-starling: 92, 108, 252;
  --color-martin: 71, 85, 223;
  --color-grackle: 167, 160, 255;
  --color-honeycreeper: 193, 187, 255;
  --color-deep-starling: 34, 33, 81;
  --color-deep-martin: 16, 15, 62;
  --color-stardust: 199, 255, 254;
  --color-cosmos: 60, 77, 255;
  --color-nebula: 63, 34, 236;
  --color-nova: 207, 23, 200;
  --color-gamma: 38, 246, 99;
  --color-starlight: 38, 138, 255;
  --color-quasar: 252, 85, 255;
  --color-celestia: 255, 255, 255;
  --color-eclipse: 0, 4, 55;
  --color-black: 0, 0, 0;
  --color-aqua: 56, 238, 255;
  --color-ocean: 0, 158, 182;
  --color-ice: 225, 253, 255;
  --color-max-outline: 56, 238, 255;
  --color-final-level-medium: 133, 123, 249;
  --color-final-level-super-dark: 189, 219, 255;
  --color-gold-shine: 255, 231, 0;
  --color-legendary-halo: 110, 107, 242;
  --color-super-background-secondary: 26, 30, 76;
  --color-black-text: 60, 60, 60;
  --color-blue: 28, 175, 246;
  --color-blue-space: 11, 62, 113;
  --color-juicy-blue-space: 10, 74, 130;
  --color-juicy-blue-space-light: 35, 83, 144;
  --color-gold: 250, 169, 25;
  --color-gray-bg: 233, 233, 233;
  --color-gray-border: 218, 218, 218;
  --color-gray-disabled: 240, 240, 240;
  --color-gray-text: 153, 153, 153;
  --color-green: 126, 181, 48;
  --color-red: 221, 56, 29;
  --color-orange: 255, 157, 0;
  --color-story-non-highlighted: 170, 170, 170;
  --color-diamond-highlight: 231, 251, 251;
  --color-diamond-color: 56, 208, 208;
  --color-banana: 255, 176, 32;
  --color-cloud: 207, 207, 207;
  --color-cloud-light: 221, 221, 221;
  --color-cloud-lightest: 240, 240, 240;
  --color-kiwi: 122, 199, 12;
  --color-kiwi-dark: 93, 151, 9;
  --color-kiwi-light: 142, 224, 0;
  --color-licorice: 76, 76, 76;
  --color-raspberry: 211, 49, 49;
  --color-fall2020-button: 255, 107, 0;
  --color-fall2020-button-lip: 225, 96, 2;
  --color-fall2020-ground: 255, 123, 0;
  --color-fall2020-sky: 255, 169, 0;
  --color-summer2020-button: 0, 199, 255;
  --color-summer2020-circle: 64, 198, 249;
  --color-summer2020-logo: 0, 163, 221;
  --color-summer2020-sky: 73, 192, 248;
  --color-summer2020-text: 0, 144, 213;
  --color-summer2020-water: 0, 240, 255;
  --color-literacy-purple: 165, 112, 255;
  --color-facebook: 59, 89, 152;
  --color-facebook-dark: 45, 67, 115;
  --color-google: 66, 133, 244;
  --color-twitter: 29, 161, 242;
  --color-hbo-dark-eel: 241, 247, 251;
  --color-hbo-dark: 0, 0, 0;
  --color-dark-eel: 241, 247, 251;
  --color-dark-macaw: 73, 192, 248;
  --color-dark-polar: 32, 47, 54;
  --color-dark-swan: 55, 70, 79;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: "DINROUNDPRO";
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
:root {
  --web-ui_bouton-background-color: #58cc02;
  --web-ui_bouton-border-bottom: #58a700;
}

* {
  font-family: "DINROUNDPRO";
}

*,
:after,
:before,
button,
button:focus,
input,
textarea {
  -webkit-tap-highlight-color: transparent;
  box-sizing: inherit;
  font-family: "DINROUNDPRO", sans-serif;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
button {
  cursor: pointer;
}
h2 {
  font-size: 25px;
  font-weight: 700;
  color: rgb(119, 119, 119);
  line-height: 34px;
  margin: 5px 0;

  padding-right: 24px;
}
.btnStyle {
  position: relative;
  --__internal__border-radius: var(--web-ui_button-border-radius, 12px);
  --__internal__lip-width: 4px;
  background: none;
  border: 0 solid transparent;
  border-bottom: var(--__internal__lip-width) solid transparent;
  border-radius: var(--__internal__border-radius);
  color: var(--web-ui_button-color, rgb(var(--color-snow)));
  height: var(--web-ui_button-height, 50px);
  padding: var(--web-ui_button-padding, 0 16px);
  transition: filter 0.2s;
}

.btnStyle::before {
  background-color: var(
    --web-ui_button-background-color,
    rgb(var(--color-macaw))
  );
  border-radius: var(--__internal__border-radius);
  bottom: 0;
  box-shadow: 0 var(--__internal__lip-width) 0
    var(--web-ui_button-border-color, rgb(var(--color-whale)));
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.btnStyle:hover {
  filter: brightness(1.1);
}

.btnText {
  display: inline-flex;

  -webkit-font-smoothing: antialiased;
  align-items: center;
  font: 700 var(--web-ui_button-font-size, 15px) /
      var(--web-ui_button-line-height, 1.2) "DINROUNDPRO",
    sans-serif;
  justify-content: center;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.btnStyle img {
  margin-right: 10px;
}

.btnStyle:active::before {
  box-shadow: none;
}

.btnStyle:active {
  transform: translateY(var(--__internal__lip-width)) translateZ(0);
}
