.bouton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  text-transform: uppercase;
  transition: filter 0.2s;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
  border-radius: 16px;
  line-height: 0.5;
  white-space: nowrap;
}
.bouton:hover {
  filter: brightness(108%);
}

.bouton:focus {
  border: 0 !important;
  border-bottom: 0px !important;
  border-bottom-width: 0px !important;
}
